<div class="row p-5">
  <div class="col-lg-9 offset-lg-1 blog-main">
    <%= paginate @blogs %>
    <%= render @blogs %>

    <nav class="blog-pagination">
      <%= paginate @blogs %>
    </nav>

  </div>
  <%= render 'shared/blog_sidebar' %>
</div>

