<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<div>
  <%= render partial: @blogs, spacer_template: 'blog_ruler'  %>
</div>


<br>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
