<div class="container p-3">
  <% unless user_signed_in? %>
    <div class="row">
      <div class="col">
        <p class="h4">Trending Stocks</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Trending stock : UPST
      </div>
      <div class="col-sm-3">
        Trending stock : TSLA
      </div>
      <div class="col-sm-3">
        Trending stock : AMD
      </div>
      <div class="col-sm-3">
        Trending stock : AAPL
      </div>
    </div>
  <% end %>
  <div class="row mt-4">
    <div class="col">
      <p class="h4"> Trade Discussions</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
    <%= render partial: "posts/list" , locals: {posts: @posts }%>
    </div>
    <div class="col-4">
      <p class="h5 mb-2">Discussions</p>
      <ul class="list-group list-group-flush">
        <% @communities.each do |c| %>
          <li class="list-group-item "><%= link_to c.name, c, class: "blog_preview_link" %> </li>
        <% end %>
      </ul>
      <%= link_to "View All Trades", communities_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>
