@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

.header-rules {
    height: 85vh;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-secondary, 0.7)) ,
    asset-url("stoploss.jpeg");
    background-size: cover;
    background-position: center;
  
  
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%);
      height: 85vh;
    }
  
    // Media query for different screen res, and width 2000/16 = em
  
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5) {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-secondary, 0.7)) ,
      asset-url("rink.jpg");
    }
  
    @media only screen and (min-resolution: 192dpi) and (max-width: 37.5) {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-secondary, 0.7)) ,
      asset-url("unh.png");
    }
  
    @include respond (phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    }
  
    &__logo-box {
      position: absolute;
      top: 40vh;
      left:6rem;
  
      @include respond (phone) {
        left:4rem;
        top: 14vh;
      }
    }
  
    &__logo {
      height: 15rem;
  
      @include respond (phone) {
        height: 5rem;
      }
  
    }
  
    &__text-box{
      position: absolute;
      top:50%;
      left:38%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }