
<div class="container-fluid bg-light main-page-section">
  <div class="row">
    <div class="col-lg-12 m-2 text-center">
      <h2 class="text-left section-header mb-4 ">About</h2>
      <p class="text-left paragraph paragraph--dark">Welcome to The Wolf of State Street. The goal of this platform is to provide insight into my investment approach.    </p>

      <p class="text-left paragraph paragraph--dark">
       My system involves analyzing macro economic conditions, stock prices using charts, market breadth, and sales growth.  My macro economic analysis primarily looks at monetary policy.  For example, if the Federal Reserve is active one might consider adding exposure to broad based indices in their 401k.  Next, I use share prices are a guide for potential entries into markets. A weekly price series is sufficient in assisting you with the overall direction of your stock. Finally I look at the breadth of stocks participating in a particular movement. If many stocks are participating in a movement, it would be prudent to be exposed to risk equities, whereas if only a few stocks are participating, risk should be reduced.
      </p>


      <p class="text-left paragraph paragraph--dark">
        Please read the disclaimer and understand that participating in markets presents a very real risk to your hard earned capital. This site as with any site concerning stocks is as follows; you should always do your own homework and take anything you read not as financial advice. I could potentially take a trade, and get stopped out quickly. If a prospective reader were to replicate any particular change that I make in my retirment accounts, or the outright purchase of a stock and not follow a stop loss plan, they could loose capital. Your money is your responsibility.
      </p>

      <h2 class="text-left section-header mb-4 ">Why visit this site?</h2>

      <p class="text-left paragraph paragraph--dark">
      There are a large number of informational, and pay sites that offer similar content to The Wolf of State Street. This platform may be able to offer unique information not found on other similar web sites. I take a very data-centric approach in how I do things and present those findings here. Many other growth investing sites (think like Investors Business daily ) only offer cookie-cutter chart pattern entries and an old system without actually testing those models or verifying how well signals work. My method for analyzing these stocks is different because I created it, and continue to build it.
      </p>
      <p class="text-left paragraph paragraph--dark">
      So why would you want to book mark this site? Here are a few reasons:
      </p>

        <ol class="terms-list">
            <li class="text-left font-size-1 mb-3"><span class="font-size-1"><strong>
            No hindsight trading - </strong></span>
            <span class="font-size-1">
                For the folks who know me, I tell them about my retirement account changes before I make the investment change. For normal stock purchases,  I’ll post them that day.  Of course if folks read about an investment a few hours after I make it, than they will be late but I’ll do my best to make sure that what I post is as close to real time as possible. Often if a stock is moving on news or its earnings, I will be placing an order right at the open. No late calls here.
            </span></li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>Data driven price action - </strong>
              </span>
              <span class="font-size-1">
                 The unique thing this site can offer is a completely new way of looking at growth investments. I spent over a year modeling at some of the biggest stock winners in the past 30+ years. How long do they move? How much do they move? what was their sales growth when they started?  This data set contains over 1 million data points, 3200 stock “runs” and over 1200 individual stocks from various sectors. In addition to that, I have created software that gives other unique insights into any stock - days of the week that it is strongest, the seasonality of a stock, and how likely a stock is to move after a large gap up/move up.
              </span>
            </li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>No empty platitudes - </strong>
              </span>
              <span class="font-size-1">
                 No fluff/motivational material.  Maybe some comic relief.  But everything will be contextual to finding good stocks.
              </span>
            </li>
            <ol>








    </div>


  </div>
</div>
