
<div class="container-fluid bg-light pb-5 pl-5">
  <div class="row">
    <div class="col-lg-12 m-2 p-5 text-center">
      <h2 class="text-left section-header mb-4 ">About</h2>
      <p class="text-left paragraph paragraph--dark">Welcome to The Wolf of State Street.  The goal of this platform is to provide insight into my market operations on a semi-regular basis.  For nearly 3 years I have been trading a profitable system with the last calendar year being my first with a small loss ( -3.5 % realized loss, -0.6 % unrealized).  On balance since starting, I have made money and have handily beaten industry benchmarks.   </p>

      <p class="text-left paragraph paragraph--dark">
       My system incorporates technical analysis, company fundamentals, and macroeconomic conditions.  For technical analysis, I analyze stock charts and determine points of entry, and exit.  I generally look for growing sales, margins, and earnings for fundamentals.   Lastly, I consider macroeconomic conditions such as growth, inflation, and federal reserve policy.
      </p>


      <p class="text-left paragraph paragraph--dark">
        Please read the disclaimer and understand that participating in markets presents a very real risk to your hard earned capital. This site as with any site concerning stocks is as follows; you should always do your own homework and take anything you read not as financial advice.  I could potentially take a trade, and get stopped out as soon as I post about it either here or on twitter.  If a prospective reader were to copy the trade and not follow a stop loss plan, they could loose capital.  Your money is your responsibility.
      </p>

      <h2 class="text-left section-header mb-4 ">Why visit this site?</h2>

      <p class="text-left paragraph paragraph--dark">
      There are a large number of informational, and pay sites that offer similar information to The Wolf of State Street.  Some of the pay sites are worth their money, but a great many aren’t.  It is my opinion that this site (which is free for the time being) will provide comparable if not better information than many sites that you have to pay an arm and a leg for.
      </p>
      <p class="text-left paragraph paragraph--dark">
      So why would you want to book mark this site?  Here are a few good reasons:
      </p>

        <ol class="terms-list">
            <li class="text-left font-size-1 mb-3"><span class="font-size-1"><strong>
            No hindsight trading - </strong></span>
            <span class="font-size-1">
                I do my best to post trades, and insights in real-time without the benefit of hindsight.  Any clown can snap a screenshot of the past and make the claim that they were long the stock after the fact.  That seems dishonest to me.  Any hindsight trading should be (a) the exception not the rule, (b) should contain relevant learning for a recent trade, and (c) consist of losing trades as well as winning trades.
            </span></li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>Data driven price action - </strong>
              </span>
              <span class="font-size-1">
                I am in the process of constructing a model, building a massive database, and writing bespoke trading software which provides statistical insight into price action of winning stocks.  This does not exist anywhere that I know of, especially for this method of trading.  This modeling project seeks to answer important questions such as what characteristics of a stock make it a winner?  How long does a winning stock run for?  What are its fundamentals?  In addition, my software looks deep into price action and can provide unique insight.  An example would be if a stock closed higher on a Monday, how will it finish the week?  How does a stock perform after a FOMC meeting?  If a stock moves up, or gaps up, to what degree will to test the previous days closing price?  This is but a small taste of an expanding library I am creating by hand, and I will provide this insight on my blog and on my twitter!
              </span>
            </li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>No empty platitudes -</strong>
              </span>
              <span class="font-size-1">
                 I have noticed that twitter is full of tons of inspirational material.  I really don’t have a problem with relevant and well timed quotes which provide context into recent trades, but overall these empty platitudes offer little useful information.  Instead, I post plans, trades, or data-driven insights that I plan on using directly to make money (when able) in markets.
              </span>
            </li>
            <ol>








    </div>


  </div>
</div>
