
<div class="container-fluid bg-light pb-5 pl-5">
  <div class="row">
    <div class="col-lg-12 m-2 p-5 text-center">
      <h2 class="text-left section-header mb-4 ">About</h2>
      <p class="text-left paragraph paragraph--dark">Welcome to The Wolf of State Street.  I wanted to provide a platform for folks I know, and folks from the internet that provides insight into my market operations.  This includes trading US equities on the long and short side.  For nearly 3 years I have been trading a profitable system with the last calendar year being my first with a small loss ( -3.5% realized loss, -0.6% unrealized).  On balance since starting, I have made money and have handily beaten industry benchmarks.     </p>

      <p class="text-left paragraph paragraph--dark">
        My system uses both technical analysis and fundamental analysis.  On the the technical side, I study chart patterns and use a Livermore style breakout system.  With regards to fundamentals, I consider company earnings, margins, and sales.  Lastly, I take into consideration macroeconomic conditions such growth, inflation, and federal reserve policy.
      </p>
      <p class="text-left paragraph paragraph--dark">
        This site will provide some cool features including a live market status page, a blog with stocks to watch as well as prevailing market conditions.  Finally I will have a selection of stocks I have entered, along with their stop losses and profit plans.  I will do my best to make my selections on twitter, but there is always a chance I miss a few.
      </p>

      <p class="text-left paragraph paragraph--dark">
      My system is still a work in progress, and I encourage folks to do their homework if they wish to manage their accounts as I do.  Please read the disclaimer and understand that participating in markets presents a very real risk to your hard earned capital.  I might get into a position, be wrong, and get out all within 10 minutes or less.  If I were a prospective market operator, I would use this platform to cross check with their own work and maybe get some cool ideas.
      </p>

      <h2 class="text-left section-header mb-4 ">Why visit this site?</h2>

      <p class="text-left paragraph paragraph--dark">
      There are a large number of informational, and pay sites that offer similar information to The Wolf of State Street.  Some of the pay sites are worth their money, but a great many aren’t.  It is my opinion that this site, which is free for the time being, will provide comparable if not better information than many sites that you have to pay an arm and a leg for.
      </p>
      <p class="text-left paragraph paragraph--dark">
      So why would you want to book mark this site?  Lets walk through a short pitch, shall we?
      </p>

        <ol class="terms-list">
            <li class="text-left font-size-1 mb-3"><span class="font-size-1"><strong>
            No hindsight trading - </strong></span>
            <span class="font-size-1">
                I do my best to post trades, and insights in real-time without the benefit of hindsight.  Any clown can snap a screenshot of the past and make the claim that they were long the stock after the fact.  That seems dishonest to me.  Any hindsight trading should be (a) the exception not the rule, (b) should contain relevant learning for a recent trade, and (c) consist of losing trades as well as winning trades.
            </span></li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>Data driven price action - </strong>
              </span>
              <span class="font-size-1">
                I am in the process of building a database, and writing bespoke trading software which provides statistical insight into price action of winning stocks.  This does not exist anywhere that I know of, especially in this niche style.  The database seeks to answer important questions such as what characteristics of a stock make it a winner?  How long does a winning stock run for?  What are its fundamentals?  In addition, my software looks deep into price action and can provide unique insight.  An example would be if a stock closed higher on a Monday, how will it finish the week?  How does a stock perform after a FOMC meeting?  If a stock moves up, or gaps up, to what degree will to test the previous days closing price?  This is but a small taste of an expanding library I am creating by hand, and I will provide this insight on my blog and on my twitter!
              </span>
            </li>

            <li class="text-left font-size-1 mb-3">
              <span class="font-size-1">
                <strong>No empty platitudes -</strong>
              </span>
              <span class="font-size-1">
                 I have noticed that twitter is full of tons of inspirational material.  I really don’t have a problem with relevant and well timed quotes which provide context into recent trades, but overall these empty platitudes offer little useful information.  Instead, I post plans, trades, or data-driven insights that I plan on using directly to make money (when able) in markets.
              </span>
            </li>
            <ol>




    </div>

      <p class="text-left paragraph paragraph--dark">
        In summary, here is what you get - some unique insight from a less experienced market operator.  While the saying goes, “you get what you pay for” I would like to think that my offerings are worth more than the typical 0 dollar material seen elsewhere.  I will let you be the judge of that.
      </p>
  </div>
</div>
