
<div class="container-fluid bg-light pb-5 pl-5">
  <div class="row">
    <div class="col-lg-12 m-2 p-5 text-center">
      <h2 class="text-left section-header mb-4 ">About</h2>
      <p class="text-left paragraph paragraph--dark">The Wolf of State Street is a platform to track stocks that I am watching/trading, and thoughts of markets on a semi-periodic basis.
      For almost two years, I have been trading using a profitable system; in 2021 my total returns were around 34%. </p>

      <p class="text-left paragraph paragraph--dark">
        My system uses fundamental and technical analysis.  For fundamentals, I consider company financial statements (sales, earnings, margins, guidance, insider ownership etc),
        and the macroeconomic backdrop including growth, inflation, and federal reserve policy (interest rates and quantitative easing). The technical analysis component is
        derived from basic chart patterns including buying various base (price consolidation) patterns, and breakouts.  I only buy stocks as their price moves up within a bull market.
      </p>
      <p class="text-left paragraph paragraph--dark">
        I trade two basic timeframes - a swing (fast) and position (slower) timeframe.  The swing trades
        require judicious use to stop losses, and bailing out of a trade if you get it wrong.
        Position trading is suitable for retirement accounts, and considers federal reserve policy more heavily.
      </p>

    </div>
  </div>
</div>
