@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

// build in css variables
:root{
  --color-primary-global: #17334a;
  --color-primary-light-global: #526573;
  --color-primary-dark-global: #73727d;
}

*,
*::after,
*::before {
  margin: 0;
  padding:0;
  box-sizing: inherit;
}

// 1 REM UNIT
html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(big-desktop){
    font-size: 65%;
  }
  @include respond(tab-land){
    font-size: 56.5%;
  }
  @include respond(tab-port){
    font-size: 50%;
  }
  @include respond(phone){
    font-size: 40%;
  }
}

body {
 background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));

 background-size: cover;
 background-repeat: no-repeat;
}

::selection {
  background-color: $color-primary !important;
  color: $color-white !important;
}
