@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";
@import "base/animations.scss";

body {
  color: $color-black;
  //background-color: #fff;
  font-family: $font-primary;
  line-height: 1.7;
  box-sizing: border-box;
}

strong{
  font-weight: bold;
}

h1,h2,h3,h4,h5 {
  color: $color-primary;
  font-family: $font-primary;
}

p, span {
  color: $color-primary;
}

p.font-light, span.font-light{
  color: $color-white;
}

h1.header{
  font-family: $font-cursive;
  font-size: 3rem;
  color: $color-white;

}

.font-size-1 {
  font-size:1.3rem;
  color: $color-primary;
  
  line-height: 1.5rem;
}

.font-size-2 {
  font-size:1.1rem;
  color: $color-grey-dark-3;

}


.heading-primary{
  color:$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 70px;



  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1rem;
    line-height: 7rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: .75rem;
      font-size: 4rem;
    }
  }

  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.1rem;

    animation: moveInRight 1s ease-out;
    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.heading-secondary{
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color:transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port){
    font-size:3rem;
  }

  @include respond(tab-port){
    font-size:2rem;
  }

  &:hover{
    //transform:skewY(0.2deg) skewX(0.2deg) scale(1.05);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 600;
    text-transform: uppercase;
}

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color:$color-grey-light-1;
  }

  &--dark {
    color:$color-grey-dark-3;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color:$color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color:$color-grey-light-1;
  }

  &--dark {
    color:$color-grey-dark-3;
  }
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--dark {
      color:$color-primary;
    }
}


// Ordered number lists

.nomarker {
  color: #00b7a8;
}

.nomarker span {
  color: #333;
}

.marker {
    color: #333;
}

.marker ::marker {
    color: #00b7a8;
}

ol {
  &>li{
    padding:1rem;
    margin:1rem;
  }
}

ol ::marker {
  font-size: 200%;
  color: #00b7a8;
  font-family: "Comic Sans MS", cursive, sans-serif;
}