<div class="mastfoot">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
       <div class="pr-2"><%= link_to "Privacy Policy", privacy_path %></div>
       <div><span class="application-footer pr-2">|</span></div>
       <div><%= link_to "Terms and Conditions", terms_path %></div>
     </div>
     <p class="application-footer">&copy; 2020 | Douglas Jacobson</p>
     
    </div>
    <div class="col">
    <h5 class="application-footer">Disclaimer:</h5>
    <p class="application-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Commodi ullam ex debitis id doloribus. Facilis illum ullam error necessitatibus dignissimos at
     minima, inventore itaque, consectetur porro harum aliquid! Quos, cum.</p>
    </div>
     
  </div>
</div>


