<div class="col-lg-1 blog-sidebar">
  <%= source_helper("alart alert-info blog-sidebar-source") %>
  <div class="sidebar-module">
    <h4 class="pb-2">Topics</h4>
    <% @sidebar_topics.each do |topic| %>
      <p class="sidebar-module__item">
        <%= link_to topic.title, topic_path(topic) %>
      </p>
    <% end %>
  </div>
</div>
