<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">The Blog Father</h1>
    <p class="lead blog-description">A blog you can't refuse.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span><br>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>
