<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View all Portfolio items", portfolios_path %> / 
      <a href="#">Back to top</a>
    </p>
    <p>
    &copy; 2020 | Douglas Jacobson
    </p>
  </div>
</footer>
