<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">The Watchlist</h1>
    <p class="lead text-muted"> 
      Below are a list of stocks I am currently watching.  I select a price to buy at, and a 
      stop loss level before putting the trade on. 
    </p>
    <hr>
    <p class="font-size-1">For more in-depth inforamttion, check out the sites blog:</p>
    <p class="mt-4 p-3">
      <%= link_to 'The Blog Father', blogs_path, class: 'btn-stylish btn-stylish--navigation ' %>
    </p>
  </div>
</section>
