<div class="containerApplication">
  <h1 class="containerApplication__header">About Me</h1>
    <div class="containerApplication__left">
      <%= image_tag "djpup.jpg", width: 400, alt: "Doug Jacobson", class: 'profile-img' %>

         <div class="skills">
           <% @skills.each do |skill| %>
           <div class="skill">
             <h4><%= skill.title %></h4>
             <div class="progress">
               <div class="progress-bar bg-skill"
                 role="progressbar"
                 aria-valuenow="<%= skill.percent %>"
                 aria-valuemax="100"
                 style="width: <%= skill.percent %>%">

               </div>
             </div>
           </div>
           <% end %>
         </div>




    </div>
    <div class="containerApplication__right">
      <p class="containerApplication__item ">I am a Java Developer with expertise
        in multiple areas including: research and development, product testing,
        nuclear systems engineering, data analysis, full stack web development, and software testing.
           I love to play hockey, Invest in the stock market, and travel the world.</p>

            <span>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#jobHistory"
                aria-expanded="false"
                aria-controler="jobHistory">Job History</button>
            </span>

            <span>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#education"
                aria-expanded="false"
                aria-controler="jobHistory">Education</button>
            </span>

            <p>
              <div class="collapse" id="jobHistory">
                <div class="card card-block">
                  <h4>Loftware</h4>
                    <ul>
                      <li>Debug and fix bugs with Loftware Print Drivers.</li>
                    </ul>
                </div>
                <div class="card card-block">
                  <h4>Portsmouth Naval Shipyard</h4>
                    <ul>
                      <li>Author nuclear test documentation.</li>
                    </ul>
                </div>
              </div>
            </p>

            <p>
              <div class="collapse" id="education">
                <div class="card card-block">
                  <h4>University of New Hampshire - M.S.M.E</h4>
                    <ul>
                      <li>Utilizing spectral Feed force to determine cutting tool runout.</li>
                    </ul>
                </div>
                <div class="card card-block">
                  <h4>University of New Hampshire - B.S.M.E</h4>
                    <p>1999-2003</p>
                </div>
              </div>
            </p>
    </div>
</div>
