<div class="app-card-container">
  <div class="card">
    <div class="inner cover">
      <h1 class="cover-heading">About</h1>
      <div class="row">
        <div class="col-md-6">

          <%= image_tag "djpup.jpg", width: 400, alt: "Doug Jacobson", class: 'profile-img' %>
        </div>
        <div class="col-md-6">

          <p class="lead">Crude oil futures erase the gains they made on Friday following OPEC's decision to cut production: January WTI settled -3.1%
            to $51/bbl after rising 3.3% last week, and Brent -2.8% ended a
            t $59.97/bbl following last week's 3.7% jump..</p>

            <span>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#jobHistory"
                aria-expanded="false"
                aria-controler="jobHistory">Job History</button>
            </span>

            <span>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#education"
                aria-expanded="false"
                aria-controler="jobHistory">Education</button>
            </span>

            <p>
              <div class="collapse" id="jobHistory">
                <div class="card card-block">
                    Loftware
                </div>
                <div class="card card-block">
                    Portsmouth Shipyard
                </div>
              </div>
            </p>

            <p>
              <div class="collapse" id="education">
                <div class="card card-block">
                    UNH
                </div>
                <div class="card card-block">
                    UNh
                </div>
              </div>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
