<div class="inner cover">
  <h1 class="element header"></h1>
  <span class="lead">I buy fast moving stocks as they break out from sound consolidation.  No options,
  and most importantly, no bull shit.  Stop losses and risk management are everything, period.  
  Finally, ignore the paid shills in the media especially CNBC. 

  <div><br><br>
    <p class="lead">
      <%= link_to "Basic Rules", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

</div>
