      <div class="inner cover">
            <h1 class="cover-heading">Welcome</h1>
            <p class="lead"> While prices can continue to rise as the pact
            significantly decreases the possibility of a glut, crude’s four-year
             high reached in early October is unlikely to be reached again in coming quarters, Stanley says.</p>
            <p class="lead">
              <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>
