<div class="inner cover">
  <h1 class="element header"></h1>
  <span class="lead">I am a Java Developer from Portsmouth, New Hampshire.
  I enjoy building everything from small business web pages to interactive web applications.
  If you are a business seeking a web presence, you can get in touch with me
  <span>
  <%= link_to "here.", contact_path, class: "link-primary" %>
  </span>
  <div><br><br>
    <p class="lead">
      <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

</div>
