<header class="header-rules">
  <div class="header-rules__logo-box">
    
  </div>
  <div class="header-rules__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main font-light">Trading</span>
      <span class="heading-primary--sub font-light">Know the Rules</span>
    </h1>
  </div>
</header>

<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4">The top 10</h2>
                <p class="paragraph--dark text-left font-size-1">This is the easiest part of trading to understand, but probably the hardest 
                to implement.  Without a good set of rules and your edge, your days as a trader are numbered.</p>

           <ol class="terms-list">
            <li class="text-left font-size-1"><span class="font-size-1"><strong>Stop Losses:</strong></span> 
            <span class="font-size-1">Before entering a trade, set a stop loss - no more than 5 to 7% of the 
            total trade.  Allow some room for a shake out, but if the stop loss level is hit, 
            <strong>sell the position without hesitation.</strong>  Your first loss is the best loss.  Limit your losses, and never wait 
            for a position to 'get back'.  </span></li>

            <li class="text-left font-size-1"><span class="font-size-1">If a stock has been purchased, and runs up quickly, take some 
            off the table.  Size the position so that even if the stock returns to a new break-even stop loss, your total trade is still 
            larger than your average winning trade. <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Don't chase stocks. Don't listen to the media.  As soon as CNBC starts 
            hawking their shit, and getting CEOs on the air, that is a good sign to get out if you own it.  Or fuck it, short it. <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Don't fuck around with options.  Trust me, I've tried.<span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Unless you have a huge gain in a stock, don't hold the entire position 
            through earnings.  Don't initiate a position before earnings unless you are a degenerate gambler.  Seriously...<span></li>

            <li class="text-left font-size-1"><span class="font-size-1">The market doesn't owe you anything.  It will extract the maximum 
            amount of money while inflicting an infinite amount of frustration and mental anguish.  If your trades are working, stick 
            with your system and don't get cocky.  If your trades are not working, close out your positions and go take a trip.  I like to drive up to 
            Montreal.<span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Don't try to justify "why" moves in the market happen.  Often times, news, headlines, and 
            opinions are smoke screens for market makers to buy or sell.  Follow the price and volume signals at all times.   <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Your friend's stock tips suck. Don't follow them.  And their record isn't as good as they say. 
            be careful about listening to anyone who only boasts about winners.  Ideally listen to your own judgement, or of people with proven track records, 
            and very strong knowledge of the markets...if you can find them.  <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Hope is not a risk management strategy.  If your trade sucks, and you are hoping for it to come back
            , close out the position and do something else.  <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Let your winners run, and cut your losers fast.  Most people will 
            take profits on a winner, and keep holding onto a loser hoping that the loser will turn into a winner.  This is your ego protecting itself. 
            If you want ego, come to jacksons landing during the winter and skate in the sunday morning session.  otherwise, leave the ego at the door 
            if you want to trade.   <span></li>
            
            </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4 text-center"">My System</h2>
                <p class="paragraph--dark text-left font-size-1">My system consists mostly of technicals, aka charts as well as fundamentals. The 
                charts are a schematic of the supply and demand of shares being traded.  It is this supply and demand, as well as the bid/ask of the stock 
                which will move the stock up or down.  The fundamentals lend themselves well for longer term trades, 
                as a thematic catalyst ( new product, earnings expansion, new management, etc) 
                can propel a stock for a long period of time.   </p>

                <p class="paragraph--dark text-left font-size-1">Here is the basics.
                </p>

           <ol class="terms-list">
         
            <li class="text-left font-size-1"><span class="font-size-1">Overview - Read Bill O'Niel's book "How to Make Money In Stocks".  
             <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Fundamentals - I look for earnings and sales growth on a quarterly basis.  I want to 
            see accelerating (increasing rate of change) of year over year comps for earnings.  Earnings must be sustainable, and long lasting for example from 
            a new product, or a new catalyst for demand for said products.   <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Insider buying - Execs buying large blocks of shares.  If execs own very little ,and collect 
            fat paychecks, they are probably pieces of shit just like their companies.  Also look for high instituional sponsorship.  If these guys are buying, so will I.    <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Charts - I buy when a stock breaks out of a definitive trading range.  I look for 
            low volume on distirbution, and higher volume during accumulation.  The stock must have good volume when it exits a trading range. Read books on the subject 
            to get the idea.  See below for Qualcom, a very strong performing stock during the 1999 dot com bubble <span></li>

            <%= image_tag "stock-qcom.png", alt: "QCOM breakout", class: 'picture-1' %>

            <li class="text-left font-size-1"><span class="font-size-1"> Indicators - I use price, volume and volatility.  I do not use fancy technical mumbo jumbo 
            like MACD, Fib retracements, or any of that.  Price, price levels, and the number of shares traded...and thats it! <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Moving averages - I use a few moving averages to determine what other traders might do.
            Usually they act as areas of resistance or support for a stock.  They aren't the be all, end all but I will use them as a simple stop-loss or entries.
            <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> New product - This one is big. Find an earnings winner which has a new product, new service, or 
            new industry.  Even if the fundamentals are garbage, watch the charts.  These companies can attract a lot of instiutional sponsorship.  
            <span></li>

        
            
            </ol>
            </div>
        </div>
    </div>
</section>

