<header class="header-rules">
  <div class="header-rules__logo-box">
    
  </div>
  <div class="header-rules__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main font-light">Trading</span>
      <span class="heading-primary--sub font-light">Know the Rules</span>
    </h1>
  </div>
</header>

<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4">Trading Rules</h2>
                <p class="paragraph--dark text-left font-size-1">Follow the rules, or don’t even bother trading.  Here are mine: </p>

           <ol class="terms-list">
            <li class="text-left font-size-1"><span class="font-size-1"><strong>Stop Losses:</strong></span> 
            <span class="font-size-1">Before getting into any trade, figure out a stop loss level in  case the price moves against you. 
             I use 5% to 7%  max loss for a position and generally do not risk more than 1% of my account. 
            If the price moves below the stop loss price, sell without hesitation.  No exceptions. </span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Buy a proper breakout from a base or consolidation with good volume. 
             If the volume sucks, I pass.  <span></li>


            <li class="text-left font-size-1"><span class="font-size-1">If a stock moves up very quickly, sell some of the position and take some profit.     <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Don't fuck around with options.  Trust me, I've tried.<span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> Never let a profitable position turn into a loss.  This is stupid.  <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Don’t hold through an earnings report unless you have a huge profit in a stock. 
             Don't initiate a position before earnings unless you are a degenerate gambler. <span></li>

            

            <li class="text-left font-size-1"><span class="font-size-1">Hold onto winners, and sell losers quickly.    <span></li>
            
            </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4 text-center"">The System</h2>
                <p class="paragraph--dark text-left font-size-1">I look at the fundamentals of a company and the price action from 
                charts.
                 The fundamentals ensure the intitutional interest 
                in a companies equity is for real, and the technicals give you the supply/demand picture of the shares.    </p>

                <p class="paragraph--dark text-left font-size-1">Here are the basics.
                </p>

           <ol class="terms-list">
         
            <li class="text-left font-size-1"><span class="font-size-1">Overview - Read Bill O'Niel's book "How to Make Money In Stocks".   
             <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Fundamentals - I am looking for earnings growth. 
             I compare the previous year's quarterly earnings for the 
            past one,two, three or four quarters, and look for an acceleration in growth rate.  Earnings can break out becasue of a new product, new catalyst, or
             new management.  I generally don't care if the stock has a high P/E, but a low P/E stock with a good chart means a potential for earnings expansion.  <span></li>

             <li class="text-left font-size-1"><span class="font-size-1">Charts - I buy when a stock breaks out of a trading range.  I look for 
            low volume on distribution, and higher volume during accumulation.  The stock must have good volume when it exits a trading range. Read books on the subject 
            to get the idea.  See the chart below for Qualcom, a very strong performing stock during the 1999 dot com bubble. <span></li>
 <%= image_tag "stock-qcom.png", alt: "QCOM breakout", class: 'picture-1' %>
            <li class="text-left font-size-1"><span class="font-size-1"> Insider buying - Execs buying large blocks of shares is always good.  If execs own very little ,and collect 
            fat paychecks, they are probably pieces of shit just like their companies.  Also look for high instituional sponsorship.  If these guys are buying, so will I.    <span></li>

           

            <li class="text-left font-size-1"><span class="font-size-1"> Indicators - I use price, volume and volatility. 
             When looking at markets, I will look at breath including the McClellan Oscillator, or check Call Put Ratios ($CPCE) to determine sentiment.  <span></li>

           
            <span></li>

         
        
            
            </ol>
            </div>
        </div>
    </div>
</section>

