<header class="header-rules">
  <div class="header-rules__logo-box">

  </div>
  <div class="header-rules__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main font-light">Trading</span>
      <span class="heading-primary--sub font-light">Know the Rules</span>
    </h1>
  </div>
</header>

<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4">Trading Rules</h2>
                <p class="paragraph--dark text-left font-size-1">Here are trading rules that have worked for me:</p>

           <ol class="terms-list">
            <li class="text-left font-size-1"><span class="font-size-1"><strong>Stop Losses:</strong></span>
            <span class="font-size-1">Prior to entering into a trade, calculate the stop loss level where you will sell your position without hesitation. My typical stop loss is around 5%, and can be as high as 7%.  Don’t risk more than 1% to 1.5% of your entire portfolio on a trade.  If the price reaches your predetermined stop loss level, sell without hesitation.  There is no exception to this rule.  </span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Purchase a stock only at the proper point within a price consolidations.  This level can be a breakout level (at new highs) or after a price reaction to a logical location.  Price confirms your trade, and volume confirms price.  Ensure all are in place after making the trade.   <span></li>


            <li class="text-left font-size-1"><span class="font-size-1">If a momentum stock without large earnings moves up very quickly, sell some of the position ( 20% to 30%) and lock in profit.  When the stock has moved up to 3 times your total risk, raise the stop loss to break even.  When a stock has moved up past your average profit, move the stop loss to this level.  Never let a profitable position turn into a loss.   <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> If the stock in question is a high pedigree name and has a strong earnings profile, a new product, forward thinking management and it is up 20% in under 3 weeks from a large base, the stock must be held for 8 weeks at a minimum.  This rule is directly from Bill O’Niel’s book, ‘How to Make Money in Stocks”<span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> No options. <span></li>

            <li class="text-left font-size-1"><span class="font-size-1"> If people are getting giddy on a stock, and it starts moving very fast after a long move, consider locking in profits.  The secret is out.   <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Don’t hold through an earnings report unless you have a huge profit in a stock.
             Don't initiate a position before earnings unless you are a degenerate gambler. <span></li>


            <li class="text-left font-size-1"><span class="font-size-1">Hold onto winners, and sell losers quickly.    <span></li>

            

            </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-center"">

            <h2 class="text-left section-header mb-4 text-center"">The System</h2>
                <p class="paragraph--dark text-left font-size-1">This system is a combination of looking at macroeconomic conditions, stock fundamentals, and technical patterns of the markets and leading stocks.  The macroeconomic picture helps front-run fed policy decisions which can assist in determining appropriate positioning for trading, but retirement portfolio construction.  The company fundamentals provide a basis for sustained price movements, and the technicals are encoded human emotions which a successful operator can navigate.    </p>

                <p class="paragraph--dark text-left font-size-1">Here are the basics:
                </p>

           <ol class="terms-list">

            <li class="text-left font-size-1"><span class="font-size-1">Books - Read Bill O'Niel's book "How to Make Money In Stocks", and Mark Minervini's books to get started.
             <span></li>

            <li class="text-left font-size-1"><span class="font-size-1">Fundamentals - A growing company will attract institutional attention.  Institutions move stocks.  Look for a break-out of quarterly earnings when compared to a positive long-term earnings growth rate.  Specifically look for acceleration of year over year quarterly earnings ( sales too) due to a new catalyst of some sort.  This can be a new product, new management, or new industry catalyst. P/E doesn’t matter, as the best growth names start out at higher P/Es. I look for insider buying, and a conservative balance sheet as well. <span></li>

             <li class="text-left font-size-1"><span class="font-size-1">Charts - I buy when a stock breaks out of a trading range.  I look for
            low volume on distribution, and higher volume during accumulation.  The stock must have good volume when it exits a trading range. Read books on the subject
            to get the idea.  See the chart below for Qualcom, a very strong performing stock during the 1999 dot com bubble. <span></li>
 <%= image_tag "stock-qcom.png", alt: "QCOM breakout", class: 'picture-1' %>
            <li class="text-left font-size-1"><span class="font-size-1"> Macroeconomic conditions - Overall we want to see growth as measured by GDP increasing when compared to the previous year.  We also want to see inflation contained within a reasonable levels.  Next, we want a generally accommodative fed, which suggests that the following conditions aught to be in place: rate cuts/low rates, a low discount rate, a low federal funds rate, a low prime lending rate, a low  Nonrevolving consumer credit growth rate.    <span></li>



            <li class="text-left font-size-1"><span class="font-size-1"> Indicators - Important indications of market conditions include, but are not limited to the following:  The put/call ratio, the advance/decline levels of all issues, new highs/new lows, price/volatility, and increasing/decreasing volume ratios.    <span></li>


            <span>




            </ol>
            </div>
        </div>
    </div>
</section>
