@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

.btnCust{
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.7rem 1.8rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: 1.1rem;
    }
  
    &:hover {
      -webkit-transform:translateY(-3px);
      -moz-transform:translateY(-3px);
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.2) scaleY(1.3);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
  
    &--white {
      background-color: $color-light;
      color:$color-black;
  
      &::after {
        background-color: #fff;
      }
    }
  
    &--green {
          background-color: $color-primary;
          color: $color-white;
  
          &:hover{
            color: $color-white;
          }
  
          &::after {
              background-color: $color-primary;
          }
      }
  
    &--navbar {
      background-color: $color-primary;
      color: $color-white;
      padding:2rem 3rem !important;
      line-height: 1rem;
      font-size: 1.4rem !important;
      color: #fff !important;
  
  
  
      &:hover{
        color: $color-black !important;
        border: 1px solid #000;
        border-radius: 1rem;
      }
  
      &::after {
          background-color: $color-primary;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: absolute;
      top:0;
      left:0;
      z-index: -1;
      transition: all .4s;
    }
  
    &--animated{
      animation: moveInBottom .5s ease-out .75;
      animation-fill-mode: backwards;
    }
  }