@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";


%stock-pick{
    margin:1rem;
    padding: 1rem;
}

.picture-1 {
    @extend %stock-pick;
    width:80%;
  }

  .picture-2 {
    @extend %stock-pick;
    width:60%;
    float: center;
    border: 1px solid black;
    border-radius: 3px;
  }

  .picture-3 {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 251, 130);
    float:center;
    border-radius: 50%;
    @media only screen and (max-width: $bp-small) {
      height: 30px;
      width: 30px;
   }
  }

  .picture-4 {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(251, 0, 0);
    float:center;
    border-radius: 50%;
  }

  .thumbnail-for-stock-bullish {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 251, 130);
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
  }

  .thumbnail-for-stock-bearish {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(251, 0, 0);
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
  }

