@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";


%stock-pick{
    margin:1rem;
    padding: 1rem;
}

.picture-1 {
    @extend %stock-pick;
    width:80%;
  }

  .picture-2 {
    @extend %stock-pick;
    width:60%;
    float: center;
    border: 1px solid black;
    border-radius: 3px;
  }

