
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Margins

$margin-bottom-small:2rem;

//Media queries (for flexbox stuff)

$bp-largest:75em; //1200px
$bp-large:68.75em; //1100px
$bp-medium:56.25em; //900px
$bp-small:37.5em; //600px
$bp-smallest:31.25em;//500px
